
.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    font-size: 19px;
    font-weight: bold;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: greenyellow;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .buttons:hover {
    background-color: red;
   
    transition: all 0.5s ease 0s;
    
  }

  body {
    font: 16px Helvetica, sans-serif;
    color: #444;
}

.item {
    margin: 5% 30% 5% 30%;
    font-style: italic;
    transition: 2s;
    font-size: 28px;
}



.item button {
  transition: 0.5s; 
} 

.list {
  list-style: none;
  transition: 0.5s; 
}